
git+https://github.com/LonamiWebs/Telethon
pip
instaloader
async_generator
spcli
pylast
pybase64
zalgo_text
pyfiglet
PyYAML<4.0,>=3.12
Click==7.0
setuptools>=40.3.0
lxml
selenium
py-cpuinfo
psutil
aria2p 
chatterbot
chatterbot_corpus
-r ./requirements-stdborg.txt










